
<div class="loginBlock" >
    <div class="container">
        <ul>
            <li class="text-center display-4">Forgot Password</li>
            <li>
                <input type="text" class="form-control" placeholder="User Id">
            </li>
           <li>
            <input class="btn btn-primary" type="button" value="Send details to mail" onclick="registerNewUser()">
            <input class="btn btn-primary" type="button" value="Back to login" onclick="loadSelectedPage('login')">
           </li>
           <li></li>
        </ul>
    </div>
</div>